Source: https://cam.feedzai.com/cs-hsbc-rma/0.2.0/docs/installation-guide/keycloak/requirements-keycloak
Title: Requirements | Feedzai RMA Documentation
============================================================

# Requirements  
  
##### tip

For a complete list of Keycloak requirements, please refer to the official product documentation.
